<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="utf-8">
    <style>
    {% block css %}
    {% endblock %}
    </style>
    
    {% block head %}
	<title>Home</title>
    {% endblock %}
	<link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <script>
        function EventInfoFunction()
        {
            var eventinfoURL ="{% url 'event_info' %}"
            layer.open({
                type: 2,    
                title: 'Event Info',
                shadeClose: false,
                maxmin: true,
                area: ['1000px', '650px'],
                content: eventinfoURL,
                end: function () {
                    window.location.reload();
                }
            });
        }
    </script>
    {% block javascripts %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
		    <a class="navbar-brand" href="{% url 'home' %}" style="font-style: bold; color: #00008B;">Schedule management system</a>
	    </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <button style=" border-style: none; outline: none; margin-top:13px" onclick="EventInfoFunction()">
                        <img src="{% static 'img/OIP.jpg'%}" width="20">
                    </button>
                </li>
                <li><a href="{% url 'event' %}">My Event</a></li>
                <li><a href="{% url 'notebook' %}">My Note</a></li>
            </ul>
        
           {% if user.is_authenticated %}
                <form class="navbar-form navbar-right" action="{% url 'logout' %}" method="post" style="margin-top:13px">
                {% csrf_token %} 
                <button type="submit">Logout</button>
                </form>
                <p class="navbar-text navbar-right">Hi {{ user.username }}</p> 
            {% else %}
                <form class="navbar-form navbar-right" action="{% url 'login' %}" method="get" style="margin-top:13px">
                {% csrf_token %} 
                <button type="submit">Login</button> 
                </form>
                <p class="navbar-text navbar-right">You are not logged in</p> 
            {% endif %}
        </div>
	</div>
</nav>

{% block content %}
{% endblock %}


</body>
</html>