{% extends 'base.html' %}
{% block css %}
input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
{% endblock %}
{% block content %}
<div style="margin:20px">
<h2>Delete Note</h2>
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{notebook.title}}" ?</p>
    <input type="submit" value="Confirm"/>
</form>
</div>
{% endblock content %}